@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
.raleway-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* universal some silection of style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  :root{
    --primary-color:#fea301;
    --secondary-color:rgb(1, 172, 253);
    --light-secondary-color:rgb(5, 212, 223);
    --deep-blue-color:rgb(93, 88, 239);
    --green-color:rgb(149, 178, 38);
    --black-color:rgb(17, 17, 17);
    --deep-black:rgb(0, 0, 0);
    --h1-font-size:3rem;
    --h2-font-size:2.5rem;
    --h3-font-size:1.5rem;
  }
  h1{
    font-size:3rem ;
    line-height: 3.8rem;
    font-weight: 700;
  }
  h2{
    font-size:2.5rem;
    line-height: 3.5rem;
    font-weight: 600;
  }
  h3{
    font-size:1.5rem ;
    line-height: 2rem;
    font-weight: 500;
  }



  .display{
    display: flex;
  }
  .hide{
    display: none;
  }

  /* navigation style */
#nav{
    width: 70vw;
    margin: 0 auto;
}

#nav .web_navigation--container{
    margin-top: 2rem;
    justify-content: space-between;
    align-items: center;
}
#nav .web_navigation--container .nav_logo{
    
    justify-content: center;
    align-items: center;
    gap: 0.87rem;
}

#nav .web_navigation--container .nav_link ul{
    justify-content:center;
    align-items: center;
    gap: 2rem;
}
#nav .web_navigation--container .nav_link ul li{
    list-style: none;
}
#nav .web_navigation--container .nav_link ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.primary-btn{
    padding: 0.87rem 2rem;
    font-size: 1.2rem;
    border: none;
    color: #ffff;
    border-radius: 0.5rem;
    background-color:var(--primary-color);
}

.item-1{
    color:var(--primary-color);
}
.item-2{
    color: var(--secondary-color);
}

.item-3{
    color: var(--light-secondary-color);
}
.item-4{
    color: var(--deep-blue-color);
}

/* Hero-section */
#hero-section{
    width: 70vw;
    margin: 0 auto;
}
#hero-section .hero_section--container{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
#hero-section .hero_section--container .hero_section--content{
    width:100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    margin-right:0;
}

#hero-section .hero_section--container .hero_section--content .first-word{
    color: var(--primary-color);
    width: 100%;
}
#hero-section .hero_section--container .hero_section--content .last-words{
    color: var(--secondary-color);
}
#hero-section .hero_section--container .hero_section--content p{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: left;
    letter-spacing: 0%;
    margin-bottom:1rem;
    color:var(--black-color);
}
.hero-btn{
    background-color: var(--black-color);
}

#hero-section .hero_section--container.hero_image-box{
width: 35%;
}
/* standard-curriculumn section */
#standard-curriculumn{
    width:100vw;
    height: fit-content;
    margin: 2rem  auto 0 auto;
    text-align: center;
    background-image: url("/assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#standard-curriculumn .card-container{
    width: 70vw;
    margin: 1rem  auto 10rem auto;
    display:grid;
    grid-template-columns: repeat(3 ,1fr);
   
}

#standard-curriculumn .card-container .card{
display: flex;
flex-direction: column;
max-width: 20vw;
height:60vh;
border: 1px solid rgb(222, 245, 255);
border-radius: 1.2rem;
gap: 3rem;
padding: 1rem;
}

#standard-curriculumn .card-container .card .card-image-box{
    width: 100%;
    padding:1.5rem;
}

#standard-curriculumn .card-container .card .card-content{
    width: 100%;
    text-align: center;
}

.card-btn-1{
    background: transparent;
    color: var(--deep-blue-color)   ;
    margin-top: 1rem;
}

.card-btn-2{
    background:transparent;
    color: var(--primary-color);
}

.card-btn-3{
    background:transparent;
    color:var(--deep-blue-color)

}

.card-1{
box-shadow: inset 0 0 1.8em 0.1em rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}

.card-2{
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.card-3{
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-description{
    padding: auto;
    color: var(--black-color);
}

/* mobile-responsive  */
@media only screen and (max-width:600px){
    #nav{
        width:90vw;
        margin: 0 auto;
        border-bottom-width: 1px solid var(--primary-color);
    }


    .mob_nav--conatiner{
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      
        
    }
     hr{
        display: block;
    color:var(--primary-color);
        background-color:var(--primary-color) ;
        height: 2px;
    }

    .nav-hambarguer_menu--icons img{
    
        height: 2rem;
        
    }
  
    .web_navigation--container{
        display: none;
    }

    #hero-section{
        width:90vw;
        margin: 0 auto;
        
    }
    
#hero-section .hero_section--container
{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    

}

#hero-section .hero_section--container .hero_image-box img{
    width: 100%;
}
#hero-section .hero_section--container .hero_section--content h1,
#hero-section .hero_section--container .hero_section--content p{
    width:100% ;
    text-align: center;
}

#hero-section .hero_section--container .hero_section--content{
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
#hero-section .hero_section--container .hero_section--content h1 {
    width: 360px;
    text-align: center;
    line-height: 3rem;
    letter-spacing:0%;
    font-size: 2rem;
    margin:0  1.5rem 0.5rem 1.5rem;
    white-space: none;

}
/* standard-curriculumn responsive */
#standard-curriculumn .card-container{
    width: 80vw;
    display:grid;
    grid-template-columns: repeat(1 ,1fr);
   
}
#standard-curriculumn .card-container .card{
max-width:100%;
height:50%;
margin-bottom: 1rem;
}

}
@media only screen and (min-width:601px) {
   nav hr{
        display: none;
    }
}