@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  
.raleway-font{
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* universal some silection of style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    width: 100vw;
    height: 200vh;
} */

  :root{
    --primary-color:#fea301;
    --secondary-color:rgb(1, 172, 253);
    --light-secondary-color:rgb(5, 212, 223);
    --bg-color:rgb(247, 247, 247);
    --deep-blue-color:rgb(93, 88, 239);
    --green-color:rgb(149, 178, 38);
    --black-color:rgb(17, 17, 17);
    --deep-black:rgb(0, 0, 0);
    --h1-font-size:3rem;
    --h2-font-size:2.5rem;
    --h3-font-size:1.5rem;
  }
  h1{
    font-size:3rem ;
    line-height: 3.8rem;
    font-weight: 700;
  }
  h2{
    font-size:2.5rem;
    line-height: 3.5rem;
    font-weight: 600;
  }
  h3{
    font-size:1.5rem ;
    line-height: 2rem;
    font-weight: 600;
    color: var(--black-color);
  }



  .display{
    display: flex;
  }
  .hide{
    display: none;
  }

  /* navigation style */
#nav{
    width: 100vw;
    margin: 0 auto;
    background-color:var(--bg-color);

}

#nav .web_navigation--container{
    max-width: 1280px;
    padding: 0 5rem;
    margin:0 auto;
    justify-content: space-between;
    align-items: center;
}
#nav .web_navigation--container .nav_logo{
    
    justify-content: center;
    align-items: center;
    gap: 0.87rem;
}

#nav .web_navigation--container .nav_link ul{
    justify-content:center;
    align-items: center;
    gap: 2rem;
}
#nav .web_navigation--container .nav_link ul li{
    list-style: none;
}
#nav .web_navigation--container .nav_link ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
}
.primary-btn{
    padding: 0.87rem 2rem;
    font-size: 1.2rem;
    border: none;
    color: #ffff;
    border-radius: 0.5rem;
    background-color:var(--primary-color);
}

.item-1{
    color:var(--primary-color);
}
.item-2{
    color: var(--secondary-color);
}

.item-3{
    color: var(--light-secondary-color);
}
.item-4{
    color: var(--deep-blue-color);
}

/* Hero-section */
#hero-section{
    width: 100vw;
    margin: 0 auto;
    background:var(--bg-color);
}
#hero-section .hero_section--container{
    max-width: 1280px;
    padding: 0 5rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}
#hero-section .hero_section--container .hero_section--content{
    width:100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    margin-right:0;
}

#hero-section .hero_section--container .hero_section--content .first-word{
    color: var(--primary-color);
    width: 100%;
}
#hero-section .hero_section--container .hero_section--content .last-words{
    color: var(--secondary-color);
}
#hero-section .hero_section--container .hero_section--content p{
    width: 80%;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0%;
    text-align: left;
    letter-spacing: 0%;
    margin:1rem 0 1rem 0;
    color:var(--black-color);
}
.hero-btn{
    background-color: var(--black-color);
}

#hero-section .hero_section--container.hero_image-box{
width: 35%;
}
/* standard-curriculumn section */
#standard-curriculumn{
    width:100vw;
    margin:0  auto;
    text-align: center;
    background-color:#f7f7f7;
    background-image: url("/assets/bg.png");
    background-repeat: repeat;
    background-size: contain;
    background-position:top right;
    
    
}
#standard-curriculumn .standard-title{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 4rem;
}

#standard-curriculumn .card-container{
    max-width: 1280px;
    padding: 0 5rem;
    margin: 5rem auto 0 auto;
    display:grid;
    grid-template-columns: repeat(3 ,1fr);
    background-color:#f7f7f7;
    
   
}

#standard-curriculumn .card-container .card{
display: flex;
flex-direction: column;
max-width: 35vw;
border: 1px solid rgb(222, 245, 255);
border-radius: 1.2rem;
margin-right: 1rem;
padding: 2rem;
}

#standard-curriculumn .card-container .card .card-image-box{
    width: 100%;
    height: 100%;
    padding:1.5rem;
}

#standard-curriculumn .card-container .card .card-content{
    width: 100%;
    height: 100%;
    text-align: center;
}

.card-btn-1{
    background: transparent;
    color: var(--deep-blue-color)   ;
    margin-top: 1rem;
}

.card-btn-2{
    background:transparent;
    color: var(--primary-color);
}

.card-btn-3{
    background:transparent;
    color:var(--deep-blue-color)

}

.card-1{
box-shadow: inset 0 0 1.8em 0.1em rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}

.card-2{
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);

}
.card-3{
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-description{
    padding: auto;
    color: var(--black-color);
}

#marquee {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 5rem;
    padding-top: 2rem;
    
}
.marwuee-container{
    max-width: 100%;
}
marquee{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid var(--primary-color);
    border-radius: 1.5rem;
    padding: 0.5rem;
    color: var(--deep-black);
    background-color:var(--bg-color);
}

#arrow{
    width: 100vw;
    background:#f7f7f7;
    padding-bottom: 4rem;
}

.left-right-arrow{
    max-width: 1280px;
    padding: 0 80px;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    align-items: center;
    gap: 0.5rem;
    padding: 4rem;
    background-color:transparent ;
}
.left,
.right{
    background-color: var(--primary-color);
    padding:1.2rem;
    border:none;
    border-radius: 50%;
    cursor: pointer;
  
    
}
.left-right-arrow .right img{
  height: 1.4rem;
  width: 1.5rem;

}
.left:hover{
    transform: translateX(500px);
    background-color: var(--green-color);

}

.right:hover {
    transform: translateX(-500px);
    background-color: var(--secondary-color);
    
}
.left-right-arrow .left img{
    height: 1.4rem;
    width: 1rem;
}

#stories-section{
    width: 100vw;
    padding-bottom:2rem;
    background-image: url(/assets/bg.png);
    background-color:var(--bg-color);
}
#stories-section .story-title{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 4rem;
} 
#stories-section .stories-container{
    width: 80vw;
    margin: 0 auto;
    justify-content: space-between;
    background-repeat: repeat;
    gap: 2rem;

}

#stories-section .stories-container .big-card{
    width:30vw;
    height: 100%;
    border-radius: 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    position: relative;

}

#stories-section .stories-container .big-card.big-card_img--box{
    width:30vw;
}
#stories-section .stories-container .big-card img{
    width:30vw;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    
}

#stories-section .stories-container .big-card h3{
    margin-top: 2.5rem;
    text-align: start;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2.2rem;
}

#stories-section .stories-container .big-card p{
    width: 100%;
    color: var(--black-color);
    padding:2rem 2rem;

}

#stories-section .stories-container .big-card
button{
    border-radius:2rem;
    padding:1rem 2rem;
    border:none;
    color:white;
    font-size: 1.2rem;
    background-color:var(--secondary-color);
    position: absolute;
    top: 40%;
    left: 10%;
}


#stories-section .stories-container .small-card-container{
    width: 50vw;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    justify-content: center;
    align-items: stretch;
    gap:1rem;

    
    
} 


.small-card
{
    width:100%;
    border-radius: 2.1rem;
    background: rgb(255, 255, 255);
    position: relative;
    margin: 0;

}
.small-card .small-card--content h3{
    font-size: 1rem;
    padding:1rem 1.5rem;
}
.small-card-btn{
    padding: 0.87rem 1.4rem;
    border-radius:4rem;
    background-color: var(--green-color);
    border: none;
    color: white;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    /* transform:translateY(-1.5rem) */
    position: absolute;
    left: 15%;
    top:55%;
}

#stories-section .stories-container .small-card-container.small-card .card-image-box{
    width: 100%;
    
}
/* #stories-section .stories-container .small-card-container.small-card .card-image-box img{
    width:20px;
    height: 20vh;
} */
 .card-img{
    width:100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem;
 }

#stories-section .stories-container .small-card-container.small-card .small-card--content{
    text-align: center;

}
/* small card button section */
.sm-btn-1{
background-color: var(--green-color);
}
.sm-btn-2{
background-color: var(--deep-blue-color);
}
.sm-btn-3{
background-color: var(--primary-color);
}
.sm-btn-4{
background-color: var(--secondary-color);
}

/* footer styling */
#footer-section{
    width: 100vw;
    background-color: var(--secondary-color);
    padding: 4rem;
    margin-top:0;
 
}
#footer-section .footer-container{
    max-width: 1280px;
    padding: 0 80px;
    height:40%;
    margin: 0 auto;
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(3,1fr);
    column-gap: 4rem;
}
#footer-section .footer-container .intro{
    flex-direction: column;
    max-width: 350px;
}
#footer-section .footer-container .intro p{
    color: white;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-top: 1rem;
}

#footer-section .footer-container .logo{
    width:45%;
    justify-content: space-between;
    align-items: center;
}

#footer-section .footer-container .logo img{
    width: 120px;
    height: 120px;
    padding-right: 1rem;
}
#footer-section .footer-container .logo h3{
    font-size:2.5rem;
    font-weight: bold;
    color: white;
    line-height: 3rem;
}

#footer-section .footer-container .footer-link h3{
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
}

#footer-section .footer-container .footer-link ul{
    flex-direction: column;

    
}
#footer-section .footer-container .footer-link ul li{   
     list-style: none;
    
}
#footer-section .footer-container .social-icon ul li{
    list-style: none;
}
#footer-section .footer-container .social-icon h3{
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}

#footer-section .footer-container .social-icon ul li img{
  margin-right: 1rem;  
}


#footer-section .footer-container .footer-link ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2rem;
    color: white;
}



/* mobile-responsive  */
@media only screen and (max-width:600px){
    #nav{
        max-width: auto;
         padding: 0 20px;
        margin: 0 auto;
        border-bottom-width: 1px solid var(--primary-color);
        background-color: transparent;
        
        
        
    }


    .mob_nav--conatiner{
        max-width: auto;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
      
        
    }

    .mob_nav--conatiner.nav-logo img{
        margin-bottom: 1rem;
    }
     hr{
        display: block;
    color:var(--primary-color);
        background-color:var(--primary-color) ;
        height: 2px;
    }

    .nav-hambarguer_menu--icons img{
    
        height: 2.5rem;
        width: 2.5rem;
        
    }
  
    .web_navigation--container{
        display: none;
    }

    #hero-section{
        max-width:auto;
        padding: 0 1.2rem;
        background-color: transparent;

        
    }
    
#hero-section .hero_section--container
{
    max-width: auto;
    padding: 0 1.2rem;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    

}

#hero-section .hero_section--container .hero_image-box img{
    width: 100%;
}
#hero-section .hero_section--container .hero_section--content h1,
#hero-section .hero_section--container .hero_section--content p{
    width:100% ;
    text-align: center;
}

#hero-section .hero_section--container .hero_section--content{
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
#hero-section .hero_section--container .hero_section--content h1 {
    width:100%;
    text-align: center;
    line-height: 3rem;
    letter-spacing:0%;
    font-size: 2rem;
    margin:0  1.5rem 0.5rem 1.5rem;
    white-space: none;

}
/* standard-curriculumn responsive */
#standard-curriculumn{
    max-width: auto ;
    padding: 0 1.2rem;
    margin: 0 auto;

    /* margin-bottom: 40vh; */
}

#standard-curriculumn .standard-title{
/* padding-top:2.5rem; */
font-size: 1.2rem;
text-align:center ;
font-weight: bold;
    
}
#standard-curriculumn .card-container{
    max-width: auto;
    margin: 0 auto;
    padding: 0 1.2rem;
    height: fit-content;
    display:grid;
    grid-template-columns: repeat(1 ,1fr);
    row-gap: 0.5rem;
    background-color: transparent;
   
}
#standard-curriculumn .card-container .card{
max-width:100%;
margin-bottom: 5rem;
}
#standard-curriculumn .card-container .card-content h3{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.left-right-arrow{
    display: none;
}



#stories-section .stories-container .big-card{
    display: none;
}

#stories-section .stories-container{
max-width:auto;
margin: 0 auto;
padding-left: 4rem;

}
#stories-section .stories-container .small-card-container{
    max-width:auto;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;


}


.small-card{
width:12rem;
text-align: start;
line-height: 0.5rem;
padding:0 auto;

}
.small-card-btn{
    padding:8px 16px;
    top: 40%;
    font-size: 0.87rem;
}
.small-card--content h3{
    font-size: 0.87rem;
    word-wrap: nowrap;
}


/* Footer section container */
#footer-section{
    height: 100%;
    margin: 0;
}
#footer-section .footer-container{
max-width: auto;
grid-template-columns:repeat(1 ,1fr);
background-color: var(--secondary-color);
gap:1rem;
padding:0 1.2rem;
justify-content: center;
align-items: center;
}


}

@media only screen and (min-width:601px) {
   nav hr{
        display: none;
    }
}